<%- include('parts/top.ejs') %>

<br>
<br>

<div class="container">
    <h2 class="text-center mb-4">My Books</h2>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let book of mybooks) { %>
                <tr>
                    <td>
                        <img class="img-fluid" width="50" height="50" src="/uploads/<%= book.image %>" alt="<%= book.title %>">
                    </td>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td>$<%= book.price %></td>
                    <td>
                        <a href="/mybooks/delete/<%= book._id %>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
                        <a href="/mybooks/update/<%= book._id %>" class="btn btn-primary btn-sm">Update</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('parts/bottom.ejs') %>
